#wrapper{
    width: 95%;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}

.col-xs-1 {
	width: 250px;
	margin-bottom: 17px;
}
.col-xs-2 {
    width: 250px;
}
.col-md-6{
	width:42%;
}

input{
	width: 100%;
	margin:0px;
}

#labelPLZ{
    margin-left: 40px;
}

#PLZL{
    width:35%;
    float:left;
    margin:0px; 
}

#ORT{
    width: 60%;
    float:right;
    margin:0px;
}

label{
margin-right: 14px;
margin-bottom: 0px;
}

.alert{
    margin: 10px;
    padding: 10px;
}

.close{
    position: inherit;
}
 .container-fluid{
   width: 80%;   
 display: inline-block;
}

  .table-responsive{
          width:85%;
  }
  #btngroup{
        float: right;
        padding-right: 15px;
 }
