<div *ngIf="vsnrpat?.hasError('nr') && (vsnrpat?.dirty || vsnrpat?.touched)" 
class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Die eingegebene Sozialversicherungsnummer für den Patienten ist nicht valide.</div>
<div *ngIf="vsnrhvs?.hasError('nr') && (vsnrhvs?.dirty || vsnrhvs?.touched)" 
class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Die eingegebene Sozialversicherungsnummer für den Hauptversicherten ist nicht valide.</div>

<br>
<div>
  <form class="form-inline my-2 my-lg-0">
     <button class="btn btn-outline-success my-2 my-sm-0" id="positionSave"  (click)=savePatient()>
        <span class="material-icons" >save</span></button>
</form>
</div>
<div class="col-md-6">
  <h2>Patient</h2>

  <div class="col-xs-1">
    <label>SV- Nummer</label>
    <input id="VSNRP" type="text" class="form-control" name="vsnrp" nr [(ngModel)]="currSVNRP" #vsnrpat="ngModel">
    <br>
    <label>Vorname</label>
    <input id="VONAP" type="text" class="form-control">
    <br>
    <label>Nachname</label>
    <input id="ZUNAP" type="text" class="form-control"> 
  </div>

  <div class="col-xs-1">
    <label>Straße</label>
    <input id="STRA" type="text" class="form-control">
    <br>
    <div>
      <label>PLZ</label>
      <label id="labelPLZ">Ort</label>
      <br>
      <input id="PLZL" type="number" class="form-control">
      <input id="ORT" type="text" class="form-control">
      <br>
      <br>
    </div>
    <br>
    <label>Land</label>
    <input id="LAND" type="text" class="form-control">
  </div>
</div>

<div class="col-md-6">

  <h2>Hauptversicherter</h2>

  <div class="col-xs-1">
    <label>SV-Nummer</label>
    <input id="VSNRA" type="text" class="form-control" name="vsnra" [(ngModel)]="vsnra" nr #vsnrhvs="ngModel">
    <br>
    <label>Vorname</label>
    <input id="VONVS" type="text" class="form-control">
    <br>
    <label>Nachname</label>
    <input id="ZUNVS" type="text" class="form-control">
  </div>
</div>

<!--<div>
  <div class="container-fluid">
    <div ng-app="" ng-controller="rowController">
      <div class="table-responsive col-xs-12">
        <table class="table table-hover ">
          <thead>
            <tr>
              <td>
                <h4>Verordnungsdatum</h4>
              </td>
              <td>
                <h4>Sendung</h4>
              </td>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let transfer of transfers">
              <td>
                {{transfer.id}}
              </td>
              <td>
                <select class="form-control" data-live-search="true">
                  <option>Jänner 2018</option>
                  <option>Dezember 2017</option>
                  <option>Dummy</option>
                </select>
              </td>

              <td style="width: 20px">
                <button class="togglebutton btn-success btn-sm" title="zugewiesene Sendung speichern" (click)="saveVerordung(sendung)">
                  <i class="material-icons">done</i>
                </button>
              </td>
              <td style="width: 20px">
                <button class="togglebutton btn-danger btn-sm" title="Verordnung löschen" (click)="deleteVerordnung(verordnung)">
                  <i class="material-icons">clear</i>
                </button>
              </td>
            </tr>
        </table>
      </div>
    </div>
    <button class="btn btn-default" id="btn_neu">
      <span class="material-icons" style="vertical-align: middle;">add</span> anlegen</button>
    <br>
    <button class="btn btn-default" id="btn_kopie">
      <span class="material-icons" style="vertical-align: middle;">content_copy</span> kopieren </button>
    <br>
    <button class="btn btn-default" id="btn_speichern">
      <span class="material-icons" style="vertical-align: middle;">save</span> speichern </button>
  </div>
</div>-->