#wrapper{
    width: 90%;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}

button{
     float:right;
}
  
input{
	width:300px;
    margin:0px;
    display: inline-block;  
}

label{
    width: 50px;
    display: inline-block;
}

table{
    width:100%;
}

.patient{
    padding:0;
    margin: 0;
    padding-right: 25px;
    display: inline-block;
    position: relative;
   width: 45%;
   float:left;
  }

#kostentraegerWidth{
    width: 90%;
}
#sendungSelector{
    width: 90%;

}
#rowLeistBewill{
    padding:25px;
}
#verordnerDiv{
    width:100%;
}

td{
    padding-right:20px;
}
.modal-body label{
    width: 140px;
}

.modal-body input{
    width: 350px;
}
