<div id="wrapper">
    <br>
    <div class="patient">
        <h5>Patient</h5>
        <p>{{currPatient?.id.vsnrp}}
            <br> {{currPatient?.vonap}} {{currPatient?.zunap}}
        </p>
    </div>
    <div *ngIf="currPatient?.vsnra!==0" class="patient">
        <h5>Hauptversicherter</h5>
        {{currPatient?.id.vsnra}}
        <br>
        <p>{{currPatient?.vonvs}} {{currPatient?.zunvs}}
        </p>
        <div>
        </div>
    </div>
    <select class="form-control" id="kostentraegerWidth">
        <option selected disabled>Kostenträger auswählen</option>
        <option *ngFor='let kostentraeger of kostentraegerArray' 
        [value] ="kostentraeger.kostentraeger_id"
        [selected]="kostentraeger.kostentraeger_id === currPatient?.kostentraeger_id">
            {{kostentraeger.kostentraeger_name}}
        </option>
    </select>
    <br>
    <hr>
    <br>

    <div class="patient">
        <h4>Diagnose</h4>
        <table class="table table-hover ">
            <tr>
                <th class="datumSpalte">
                    <h5>Datum</h5>
                </th>
                <th>
                    <h5>Text</h5>
                </th>
            </tr>
            <tbody>
                <tr>
                    <td>
                        <my-date-picker name="date" [options]="myDatePickerOptions" [(ngModel)]="datd"></my-date-picker>
                    </td>
                    <td>
                        <input class="form-control" name="diagn">
                    </td>
                </tr>
        </table>
        <br>
        <div class="patient">
            <h4>Leistungen</h4>
            <table class="table table-hover ">
                <tr>
                    <th class="datumSpalte">
                        <h5>Datum</h5>
                    </th>
                    <th>
                        <h5>Posnr</h5>
                    </th>
                    <th>
                        <h5>Anzahl</h5>
                    </th>
                </tr>
                <tbody>
                    <tr>
                        <td>
                            <my-date-picker name="date" [options]="myDatePickerOptions" [(ngModel)]="datl"></my-date-picker>
                        </td>
                        <td>
                            <input class="form-control" name="posnr">
                        </td>
                        <td>
                            <input class="form-control" name="anz">
                        </td>

                    </tr>
            </table>
        </div>
    </div>
    <div class="patient">
        <h4>Verordner</h4>
        <label>VPNr</label>
        <input id="svnr" class="form-control" name="vsnrp" nr [(ngModel)]="vsnrp" #vsnrpat="ngModel">
        <br>
        <label>Name</label>
        <input class="form-control">
        <br>
        <label>Datum</label>

        <my-date-picker class="datepicker" name="date" [options]="myDatePickerOptionsGr" [(ngModel)]="vadatum"></my-date-picker>


    </div>

    <div class="patient">
        <br>
        <h4>Leistungserbringer</h4>
        <table class="table table-hover ">
            <tr>
                <th class="datumSpalte">
                    <h5>Vertragspartnernummer</h5>
                </th>
                <th>
                    <h5>Nachname</h5>
                </th>
            </tr>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control" name="vpnrt">
                    </td>
                    <td>
                        <input class="form-control" name="zunt">
                    </td>
                </tr>
        </table>
    </div>



    <div class="patient">
        <h4>Bewilligung</h4>
        <table class="table table-hover ">
            <tr>
                <th class="datumSpalte">
                    <h5>Bewilligungsdatum</h5>
                </th>
                <th>
                    <h5>Bewilligungsnummer</h5>
                </th>
            </tr>
            <tbody>
                <tr>
                    <td>
                        <my-date-picker name="date" [options]="myDatePickerOptions" [(ngModel)]="datl"></my-date-picker>
                    </td>
                    <td>
                        <input class="form-control" name="bewnr">
                    </td>

                </tr>
        </table>

    </div>


</div>