<div *ngIf="currPatient==undefined" >

    Sie müssen auf das Patientenverwaltung einen Patienten auswählen um mit den Verordungungen arbeiten zu können!
</div>

<div id="wrapper" *ngIf="currPatient!==undefined">
    <br>
    <div>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary" (click)=saveVerordnung() [routerLink]="['/patient']">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                speichern
            </button>
        </form>
    </div>
    <table>
        <tr>
            <td>
                <div class="patient">
                    <h5>Patient</h5>
                    <p>{{currPatient?.vsnrp}}
                        <br> {{currPatient?.vonap}} {{currPatient?.zunap}}
                    </p>
                </div>
            </td>
            <td>
                <div *ngIf="currPatient?.vsnra!==0" class="patient">
                    <h5>Hauptversicherter</h5>
                    {{currPatient?.vsnra}}
                    <br>
                    <p>{{currPatient?.vonvs}} {{currPatient?.zunvs}}
                    </p>
                    <div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td id="kostenträgerTab" colspan="2">
                
                <select class="form-control" id="kostentraegerWidth" data-live-search="true">
                    <option selected disabled>Kostenträger auswählen</option>
                    <option *ngFor='let kostentraeger of kostentraegerArray' [value]="kostentraeger.kostentraeger_id" [selected]="kostentraeger.kostentraeger_id === currPatient?.kostentraeger_id">
                        {{kostentraeger.kostentraeger_name}}
                    </option>
                </select>
                <br>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h4>Diagnose</h4>

                    <table class="table table-hover ">

                        <tr>
                            <th class="datumSpalte">
                                <h5>Datum</h5>
                            </th>
                            <th>
                                <h5>Text</h5>
                            </th>
                            <th>

                                <button class="btn btn-primary btn-sm" title="Diagnose hinzufügen" (click)="diagnoseAlert()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="modal fade" id="modalDiagose" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" (click)="leereDiagnose()">&times;</button>
                                                <h4 class="modal-title">Diagnose hinzufügen</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Datum</label>
                                                <input type="date" id="datd" class="form-control" placeholder="tt.mm.jjjj">
                                                <br>
                                                <label>Text</label>
                                                <input class="form-control" id="diagn">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveDiagnose()">speichern</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>

                        <tbody>
                            <tr *ngFor="let diagnose of diagnosen">
                                <td>{{diagnose.datd | date:'dd.MM.yyyy'}}</td>
                                <td>{{diagnose.diagn}}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="deleteDiagnose(diagnose)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                    </table>
                </div>
                <br>
            </td>
            <td>
                <div id="verordnderDiv">
                    <h4>Verordner</h4>
                    <label>VPNr</label>
                    <input id="vpnrv" class="form-control" name="vpnrv" type="number">
                    <br>
                    <label>Name</label>
                    <input class="form-control" name="zunav" id="zunav">
                    <br>
                    <label>Datum</label>
                    <input type="date" id="vadatum" placeholder="tt.mm.jjjj" class="form-control">
                </div>
                <br>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h4>Leistungen</h4>
                    <table class="table table-hover ">
                        <tr>
                            <th class="datumSpalte">
                                <h5>Datum</h5>
                            </th>
                            <th>
                                <h5>Posnr</h5>
                            </th>
                            <th>
                                <h5>Anzahl</h5>
                            </th>
                            <th>

                                <button class="btn btn-primary btn-sm" title="Leistung hinzufügen" (click)="leistungenAlert()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <div class="modal fade" id="modalLeistungen" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" (click)="leereLeistung()">&times;</button>
                                                <h4 class="modal-title">Leistung hinzufügen</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Datum</label>
                                                <input type="date" id="datl" class="form-control" placeholder="tt.mm.jjjj"> 
                                                <br>
                                                <label>PosNr</label>
                                                <input class="form-control" id="posnr">
                                                <br>
                                                <label>Anzahl</label>
                                                <input class="form-control" id="anz" type="number">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveLeistung()">speichern</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let leistung of leistungen" id="rowLeistBewill">
                                <td>{{leistung.datl | date:'dd.MM.yyyy'}}</td>
                                <td>{{leistung.posnr}}</td>
                                <td>{{leistung.anz}}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="deleteLeistung(leistung)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div>
                    <h4>Bewilligung</h4>
                    <table class="table table-hover ">
                        <tr>
                            <th class="datumSpalte">
                                <h5>Bewilligungsdatum</h5>
                            </th>
                            <th>
                                <h5>Bewilligungsnummer</h5>
                            </th>
                            <th>
                                <button class="btn btn-primary btn-sm" title="Bewilligung hinzufügen" (click)="bewilligungAlert()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <div class="modal fade" id="modalBewilligung" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" (click)="leereBewilligung()">&times;</button>
                                                <h4 class="modal-title">Bewilligung hinzufügen</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Datum</label>
                                                <input type="date" id="bdat" class="form-control" placeholder="tt.mm.jjjj">
                                                <br>
                                                <label>Bewilligungsnr.</label>
                                                <input class="form-control" id="bewnr">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveBewilligung()">speichern</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let bewilligung of bewilligungen">
                                <td>{{bewilligung.bdat | date:'dd.MM.yyyy'}}</td>
                                <td>{{bewilligung.bewnr}}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="deleteBewilligung(bewilligung)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h4>Leistungserbringer</h4>
                    <table class="table table-hover ">
                        <tr>
                            <th class="datumSpalte">
                                <h5>Vertragspartnernummer</h5>
                            </th>
                            <th>
                                <h5>Nachname</h5>
                            </th>
                            <th>
                                <button class="btn btn-primary btn-sm" title="Leistungserbringer hinzufügen" (click)="leistungserbringerAlert()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <div class="modal fade" id="modalLeistungserbringer" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" (click)="leereLeistungserbringer()">&times;</button>
                                                <h4 class="modal-title">Leistung hinzufügen</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Vertragspartnernr.</label>
                                                <input class="form-control" id="vpnrt">
                                                <br>
                                                <label>Nachname</label>
                                                <input class="form-control" id="zunt">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveLeistungserbringer()">speichern</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal fade" id="modalInputleer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="leereDiagnose()">&times;</button>
                <h4 class="modal-title">Achtung!</h4>
            </div>
            <div class="modal-body">
            <p>Alle Felder müssen ausgefüllt werden!</p>
            </div>
        </div>
    </div>
</div>