#wrapper{
    width: 90%;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}
nav{
    padding-left:2.5%;   
    border-radius: 0%;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
.navbar {
  width:100%;
  background-color: rgba(169, 169, 169, 0.7);
 }  
 img{
     padding: 0px;
 }
  
 li{
    padding:0px;
 }
 
 li a{
    color: black; 
    text-align: center;
    text-decoration: none;
    
 }

 li a:hover{
    color:rgb(24, 76, 173);
 }
 #logo{
     float:right;
 }

 #patientenverwaltungLink{
     padding-top: 21px;
 }
 #sendungLink{
    padding-top: 21px;
}

