nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 .navBardemoBasicUsage md-content .ext-content {
     padding: 20px;
     margin: 20px;
  }
 .navbar {
  width:100%;
  background-color: rgba(169, 169, 169, 0.7);
border-radius: 0%;
 }  
  
 li{
    padding:0px;
 }
 
 li a{
    color: black; 
    text-align: center;
    text-decoration: none;
 }
 
 li a:hover{
    color:blue;
 }
 
 #btnsearch{
     height: 38px;
     width: 50px;
 }
 #inputsearch{
     width: 268px;
     float: right;
 }