#wrapper{
    width: 90%;
	margin: 0 auto;
	overflow: auto;
	position: absolute;
}


.col-xs-1 {
	width: 250px;
	margin-bottom: 17px;
}
.col-xs-2 {
    width: 250px;
}
.col-md-6{
	width:42%;
}
 input{
	width: 100%;
	margin:0px;
}
#inputPLZ{
    width: 20%;
    float:left;

}
#inputOrt{
    width: 60%;
    float:right;
}
label{
margin-right: 14px;
margin-bottom: 0px;
}
           
      .table-responsive{
          width:85%;
      }

.datumSpalte
{
    width: 175px;
}
.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #ADADAD;
    margin: 0 3px;
    height: 39px;
    width: 1px;
}
    
             
#btngroup{
    float: right;
    padding-right: 15px;
}