<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>

<div>
<br>
  <div class="col-xs-1">
    <label>Periode</label>
    <input class="form-control" id="periode">
  </div>
<div id ="buttongroup"><button  class="btn btn-default" id="tablebutton" > 
    <span class="material-icons" style="vertical-align: middle;">add</span> neue Sendung</button>
    <br>
  <button class="btn btn-default" id="tablebutton"> 
    Sendung abschließen </button>
    <button class="btn btn-default" id="tablebutton"> 
        <span class="material-icons" style="vertical-align: middle;">content_copy</span> Sendung kopieren </button>
</div>

<div >
  <div class="container-fluid">
    <div ng-app="" ng-controller="rowController">
        <div class="table-responsive col-xs-12">
  <table class="table table-info table-striped table-hover ">
<tr>
      <th class="datumSpalte" ><h5>Verordnungsdatum</h5></th>
      <th ><h5>Verordnung</h5></th>  
</tr>
  
  <tbody>
    <tr>
   <td>     
    </td>
      
    </tr>
</table>

<br>
<br>
<table class="table table-info table-striped table-hover ">
    <tr>
          <th class="datumSpalte" ><h5>Sendungsdatum</h5></th>
          <th ><h5>Sendung</h5></th>  
    </tr>
      
      <tbody>
        <tr>
       <td>     
        </td>
          
        </tr>
    </table>
    

</div>
</div>

</div>
</div>


</div>
