<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>

  <div id="wrapper">
    <br>
    <div class="col-xs-1">
      <label>Periode</label>
      <select class="form-control" [(ngModel)]="currPeriode" id="sendungSelector" data-live-search="true" (ngModelChange)="onChangePeriode()">        
        <option *ngFor='let sendung of perioden' [ngValue]="sendung?.periode" [selected]="sendung?.periode === 'Dummy'">
            {{sendung?.periode}}
        </option>
    </select>
    </div>

    <div class="btn-group" id="btngroup" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="openModal()">
        <span class="glyphicon glyphicon-plus"></span>
        neue Sendung</button>      

      <button [disabled]="currPeriode==='Dummy'" type="button" class="btn btn-danger" (click)="completeSendung()">
        Sendung {{currPeriode}} abschließen </button>
    </div>

    <div class="modal fade" id="modalPeriode" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" (click)="emptyInputPeriode()">&times;</button>
                  <h4 class="modal-title">Neue Sendung anlegen</h4>
              </div>
              <div class="modal-body">     
              <input type="text" class="form-control" id="periode" placeholder="Name der Periode"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveSendung()">anlegen</button>
            </div>
          </div>
      </div>
    </div>

    <div>
      <div class="container-fluid">
        <div ng-app="" ng-controller="rowController">
          <div class="table-responsive col-xs-12">
            <table class="table table-hover ">
              <thead>
              <tr>
                <th class="datumSpalte">
                  <h5>Verordnungsdatum</h5>
                </th>
                <th>
                  <h5>Verordnung</h5>
                </th>
              </tr>
            </thead>
              <tbody>
                <tr *ngFor='let verordnung of verordnungenPerPeriode'>
                  <td>
                      {{verordnung?.vdatum | date:'dd.MM.yyyy'}}
                  </td>
                  <td>
                    <select class="form-control" id="sendungSelectorDynamic" data-live-search="true" (ngModelChange)="onChangePeriodeVerordnung($event.target.value, verordnung?.vid)">        
                      <option *ngFor='let sendung of perioden' [ngValue]="sendung?.periode" [selected]="sendung?.periode === verordnung?.periode">
                          {{sendung?.periode}}
                      </option>
                  </select>
                  </td>
                </tr>
                </tbody>
            </table>

            <br>
            <br>
            <h3>
              meine Sendungen
            </h3>
            <table class="table table-hover ">
              <thead>
              <tr>                
                <th>
                  <h5>Sendung</h5>
                </th>
                <th>
                  <h5>Status</h5>
                </th>
              </tr>
             </thead>
              <tbody>
                <tr *ngFor='let sendung of perioden'>                  
                  <td (click)="onClickPeriode(sendung?.periode)">
                    {{sendung?.periode}}
                  </td>
                  <td>
                     <div *ngIf="sendung?.status==0">
                       offen
                     </div>
                     <div *ngIf="sendung?.status==1">
                      abgeschlossen
                    </div>
                  </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>